<body class="bg-dark">
    <section class="py-7 bg-dark section-angle top-left bottom-left PlaysContainer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <h2 class="heading-black text-white">Playing Now</h2>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-4 mx-auto" *ngFor="let play of plays">
                    <app-play-item [play]="play" (onDeletePlay)="deletePlay(play)"></app-play-item>
                </div>
            </div>
        </div>
        <button class="Btn" (click)="onClick()" style="margin-top: 30px;">
            Add Play <fa-icon [ngStyle]="{'color': '#fffff'}" [icon]="faPlus"></fa-icon>
        </button>
    </section>
</body>