<div class="FormContainer wrapper">
    <div class="FormContent">

        <h2> Please fill the following form</h2>

        <form [formGroup]="playForm" (ngSubmit)="onSubmit()" class="playForm">
            <input type="text" name="title" formControlName="title" placeholder="title">
            <div
                *ngIf="playForm.get('title')?.invalid && (playForm.get('title')?.dirty || playForm.get('title')?.touched)">
                Please provide a title.
            </div>
            <input type="text" name="category" formControlName="category" placeholder="category">
            <div
                *ngIf="playForm.get('category')?.invalid && (playForm.get('category')?.dirty || playForm.get('category')?.touched)">
                Please provide a category.
            </div>
            <input type="number" name="duration" formControlName="duration" placeholder="duration of the film">
            <div
                *ngIf="playForm.get('duration')?.invalid && (playForm.get('duration')?.dirty || playForm.get('duration')?.touched)">
                Please provide a duration.
            </div>
            <button class="Btn" type="submit">Save</button>
        </form>
    </div>
</div>
