<div class="LoginBox">
    <div class="LoginTitle">ADMIN PANEL</div>
    <div class="FormContainer">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="loginForm">
            <input type="email" name="email" formControlName="email" placeholder="email" />
            <div *ngIf="loginForm.get('id')?.invalid &&(loginForm.get('id')?.dirty || loginForm.get('id')?.touched)">
                the email address is incorrect.
            </div>
            <input type="password" name="password" formControlName="password" placeholder="password" />
            <div *ngIf="loginForm.get('code')?.invalid &&(loginForm.get('code')?.dirty || loginForm.get('code')?.touched)">
                incorrect password.
            </div>
            <button class="Btn" type="submit">LOG IN</button>
        </form>
    </div>
</div>