body {
  background: #222d32;
  font-family: "Roboto", sans-serif;
}

.LoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LoginBox {
  height: 100vh;
  width: 100%;
  background: #1a2226;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LoginTitle {
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #ecf0f5;
  padding: 20px 0px;
}

input[type="email"],input[type="password"] {
  background-color: #1a2226;
  border: none;
  border-bottom: 2px solid #912323;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 30px;
  padding-left: 0px;
  color: #ecf0f5;
  display: block;
  width: 300px;
}

.Btn {
  background-color: #8b0000;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  transition: all 0.3s ease-in-out;
}

.Btn:hover {
  opacity: 0.8;
}
