<div class="card" (click)="onClick(play.id)">
    <div class="card-body">
        <h3 class="card-title mb-2 text-ellipsis text-white">{{play.title}}</h3>
        <p class="text-muted small-xl mb-2">{{play.category}}</p>
        <p class="text-ellipsis text-white">{{play.duration}} min</p>
        <a class="btn" (click)="onEdit(play.id)">
            <fa-icon [ngStyle]="{'color': '#b64747'}" [icon]="faEdit"></fa-icon>
        </a>
        <a [routerLink]="['/plays']" class="btn" (click)="onDelete(play)">
            <fa-icon [ngStyle]="{'color': '#b64747'}" [icon]="faTimes"></fa-icon>
        </a>
    </div>
</div>